<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="myModalLabel">{{parametrosModal?.titulo}}</h4>
            </div>
            <div class="modal-body">
                <div class="media">
                    <div class="media-left">
                        <img [src]="parametrosModal.imagenPath" class="media-object" *ngIf="parametrosModal">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{parametrosModal?.subtitulo}}</h4>
                        <p>{{parametrosModal?.parrafo}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" routerLink="/juegos">{{parametrosModal?.textoBotonSecundario}}</button>
                <button id="botonPrimario" type="submit" class="btn btn-primary" data-dismiss="modal" (click)="clickBotonPrimario.emit(parametrosModal.tipo)">{{parametrosModal?.textoBotonPrimario}}</button>
            </div>
        </div>
    </div>
</div>