<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="list-group transparent">
          <a routerLink="/adivina" class="list-group-item">
            <div class="media">
              <div class="media-left media-middle">
                <img src="./assets/adivina.png" class="media-object imagenListado">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Adivina el número</h4>
                <p>Utilizas la intuición (y algunas pistas) para adivinar cual es el número aleatorio que la IA ha elegido.</p>
              </div>
            </div>
          </a>
          <a routerLink="/agilidad" class="list-group-item">
            <div class="media">
              <div class="media-left media-middle">
                <img src="./assets/agilidad.png" class="media-object imagenListado">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Agilidad aritmética</h4>
                <p>Intentas resolver sencillos cálculos, pero con muy poco tiempo... sin calculadora.</p>
              </div>
            </div>
          </a>
          <a routerLink="/agudeza" class="list-group-item">
            <div class="media">
              <div class="media-left media-middle">
                <img src="./assets/agudeza.png" class="media-object imagenListado">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Agudeza visual</h4>
                <p>Pones a prueba tu agudeza visual para identificar correctamente el color, no apto para daltónicos.</p>
              </div>
            </div>
          </a>
          <a routerLink="/anagrama" class="list-group-item">
            <div class="media">
              <div class="media-left media-middle">
                <img src="./assets/letra.png" class="media-object imagenListado">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Anagrama</h4>
                <p>Descubre la palabra que está desordenada viendo más allá de lo evidente.</p>
              </div>
            </div>
          </a>
          <a routerLink="/ppot" class="list-group-item">
            <div class="media">
              <div class="media-left media-middle">
                <img src="./assets/tijeras.png" class="media-object imagenListado">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Piedra, papel o tijera</h4>
                <p>Medís tus reflejos para elegir correctamente en el momento preciso.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
</div>