<div class="modal fade" id="autor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="media">
          <div class="media-left">
            <img src="./assets/autor.jpg" class="media-object avatar img-thumbnail">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Elias Rodriguez</h3>
            <p><img src="./assets/github.png" class="media-object github"><a href="https://github.com/virtualgithub">virtualgithub</a></p>
            <p><strong>Profesor</strong><a href="https://github.com/octaviovillegas"> Octavio Villegas</a></p>
            <p><strong>Materia</strong> Laboratorio 4 2017</p>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <h4>Juego específico</h4>
        <p>El juego "agudeza visual" encaja perfectamente en el conjunto de juegos que desafían los sentidos.
          El objetivo consiste en elegir entre tres opciones, el color que corresponde con la solución.
          La dificultad radica en que se aplicó una ilusión óptica que distorsiona la percepción visual del jugador sin hacer ninguna clase de "trampa" ya que los colores permanecen auténticamente iguales.
          Si se acierta tres veces se ganan tres puntos y se dispone de tres vidas para lograrlo.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="detalleCerro.emit()">Ok</button>
      </div>
    </div>
  </div>
</div>