<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default transparent">
                <div class="panel-heading text-center">
                    <h1>{{juego.jugador}}, clickea en el momento exacto!</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6" align="center">
                            <h4>Inteligencia artificial</h4>
                            <img id="manoIA" [src]="pathImagenIA">
                        </div>
                        <div class="col-md-6" align="center">
                            <h4>Vos</h4>
                            <input type="image" id="imagenJugador" [disabled]="mostrarMensajeResultado" class="img-responsive" (click)="verificar(index);">
                        </div>
                    </div>
                    <div class="alert" [ngClass]="mensajeResultado?.bootstrapClass" *ngIf="mostrarMensajeResultado">
                        <h2 align="center">{{mensajeResultado?.titulo}}</h2>
                        <div class="media">
                            <div class="media-left">
                                <img id="carita" [src]="mensajeResultado.imagenPath" class="media-object">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{mensajeResultado?.subtitulo}}</h4>
                                <p>{{mensajeResultado?.parrafo}}</p>
                                <button type="button" class="btn btn-default" routerLink="/juegos">{{mensajeResultado?.textoBotonSecundario}}</button>
                                <button type="button" class="btn btn-primary" (click)="accion(mensajeResultado?.tipo)">{{mensajeResultado?.textoBotonPrimario}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>