<div class="container">
	<div class="row vertical-center">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default transparent">
        <div class="panel-body">
          <app-spinner *ngIf="spinner"></app-spinner>
          <img [src]="RutasService.rutaImagenesSitio + 'user.png'" class="img-circle img-responsive center-block" width="128" height="128">
          <h1 class="text-primary text-center">Login</h1>
          <br>
          <div [formGroup]="loginForm" class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
              </span>
              <input type="email" formControlName="email" class="form-control" [value]="email || ''" placeholder="Correo electrónico" autofocus>
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock"></i>
              </span>
              <input type="password" formControlName="password" class="form-control" [value]="password || ''" placeholder="Contraseña">
            </div>
            <br>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownAutocompletar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Autocompletar como
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownAutocompletar">
                <li><a (click)="autocompletar('administrador')">Administrador</a></li>
                <li><a (click)="autocompletar('jugador')">Jugador</a></li>
              </ul>
            </div>
            <br>
            <button class="btn btn-default pull-left" routerLink="/registro">Registrarse</button>
            <button type="submit" id="botonLogin" class="btn btn-success pull-right animated slideInRight" *ngIf="loginForm.valid" (click)="login()">Ingresar</button>
            <div *ngIf="mensajeError">
              <br><br><br>
              <div class="alert alert-danger">
                Credenciales <strong>inválidas</strong>, intentá nuevamente.
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>	
</div>