<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="list-group transparent">
          <a routerLink="/juegos" class="list-group-item">
            <div class="media">
              <div class="media-left media-middle">
                <img [src]="RutasService.rutaImagenesSitio + 'gameController.png'" class="media-object imagenListado">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Juegos</h4>
                <p>Infinitud de juegos para elegir</p>
              </div>
            </div>
          </a>
          <a routerLink="/ranking" class="list-group-item">
            <div class="media">
              <div class="media-left media-middle">
                <img [src]="RutasService.rutaImagenesSitio + 'listado.png'" class="media-object imagenListado">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Ranking</h4>
                <p>Listado de los jugadores top y sus puntajes</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
</div>