<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default transparent">
                <div class="panel-heading text-center">
                    <h2>La siguiente palabra tiene las letras desordenadas (excepto la primera y la última), decífrala!</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3" align="center">
                            <h2 id="palabraMezclada">{{juego.palabraMezclada}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4" align="center">
                            <form [formGroup]="juegoForm" class="form-group">
                                <div class="input-group">
                                    <input type="text" id="respuestaInput" formControlName="respuesta" class="form-control" placeholder="Ingresa aquí tu intento" autofocus>
                                    <span class="input-group-btn">
                                        <button type="submit" (click)="verificar()" *ngIf="juegoForm.valid && !mostrarMensajeResultado" class="btn btn-success animated bounceInRight">Verificar</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="alert" [ngClass]="mensajeResultado?.bootstrapClass" *ngIf="mostrarMensajeResultado">
                        <app-spinner *ngIf="spinner"></app-spinner>
                        <h2 align="center">{{mensajeResultado?.titulo}}</h2>
                        <div class="media">
                            <div class="media-left">
                                <img id="carita" [src]="mensajeResultado?.imagenPath" class="media-object">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{mensajeResultado?.subtitulo}}</h4>
                                <p>{{mensajeResultado?.parrafo}}</p>
                                <button type="button" class="btn btn-default" routerLink="/juegos">{{mensajeResultado?.textoBotonSecundario}}</button>
                                <button type="button" id="botonPrimario" class="btn btn-primary" (click)="accion(mensajeResultado?.tipo)">{{mensajeResultado?.textoBotonPrimario}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>